# Logs

logs
_.log
npm-debug.log_

# Dependency directory

**/node_modules/**
node_modules

dist
out
build \*_/buil
tsconfig.tsbuildinfo
.DS_Store
**generated**
_.env
.idea
\*.vsix

## Panda

styled-system
panda
outdir

!packages/studio/styled-system
packages/studio/src/lib/analysis.json
